[Unit]
Description=The Bot Docker storage maintenance
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/the-bot-docker-maintenance --cleanup
