[Unit]
Description=The Bot Docker storage maintenance
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
Environment=DOCKER_MAINTENANCE_LOCK_FILE=/run/lock/the-bot-docker-maintenance.lock
ExecStart=/usr/local/sbin/the-bot-docker-maintenance --cleanup
